.home-content{
   margin: 0;
   height: 100vh;
   display: grid;
   grid-template-columns: 1fr;
   align-items: center;
   position: relative;
   .header__scroll-arrow-wrapper{
      position: absolute;
      bottom: 80px;
      right: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      @media screen and(max-width: 1024px){
          bottom: 50px;    
      }   
      .header__scroll-circle{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color:  rgba(53, 55, 62, 0.3);
          display: flex;
          justify-content: center;
          align-items: center;
          animation: scrollCircle 2s infinite;
          @keyframes scrollCircle {
              from{
                  transform: translateY(0);
              }
              25%{
                  transform: translateY(0);
              }
              50%{
                  transform: translateY(20px);
              }
              75%{
                  transform: translateY(0);
              }
              to{
                  transform: translateY(0);
              }
          }
          .header__scroll-img{
              width: 30px;
              filter: drop-shadow(0px 4px 3px #000);
              animation: scrollCircle 2s infinite;
              @keyframes scrollCircle {
                  from{
                      transform: translateY(0);
                  }
                  25%{
                      transform: translateY(0);
                  }
                  50%{
                      transform: translateY(10px);
                  }
                  75%{
                      transform: translateY(0);
                  }
                  to{
                      transform: translateY(0);
                  }
              }
          }
      }

  }
   .content-wrapper{
      display: grid;
      margin-top: 80px;
      position: relative;
      @media screen and (max-width: 1200px){
         display: flex;
         flex-direction: column;
         align-items: center;
      }
      .triangle{
         position: absolute;
         top: -200px;
         width: 45%;
         left: 50%;
         margin-left: -15%;
         transform: rotate(50deg);
         @media screen and (max-width: 1440px){
            top: -220px;
         }
         @media screen and (max-width: 475px){
            top: -120px;
         }
      }
      .title-text {
         font-family: Montserrat;
         font-style: normal;
         font-weight: bold;
         font-size: 64px;
         color: #FFFFFF;
         text-shadow: 0px 1px 9px rgba(34, 60, 80, 0.5);
         z-index: 99;
         @media screen and (max-width: 1200px){
            text-align: center;
         }
         @media screen and (max-width: 730px){
            font-size: 54px;
         }
         @media screen and (max-width: 600px){
            font-size: 48px;
         }
         @media screen and (max-width: 475px){
            font-size: 30px;
         }
      }
      .sub-title-text{
         font-family: Montserrat;
         font-style: normal;
         font-weight: normal;
         font-size: 22px;
         color: #FFFFFF;
         margin-top: 45px;
         text-shadow: 0px 1px 9px rgba(34, 60, 80, 0.5);
         z-index: 99;
         @media screen and (max-width: 1200px){
            text-align: center;
         }
         @media screen and (max-width: 1025px){
            margin-top: 30px;
         }
         @media screen and (max-width: 420px){
            margin-top: 15px;
            font-size: 13px;
         }
      }
      .button-callback{
         cursor: pointer;
         width: 230px;
         height: 40px;
         border: 2px solid #FFFFFF;
         box-sizing: border-box;
         border-radius: 50px;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-top: 45px;
         transition-duration: 0.2s;
         color: #FFFFFF;
         text-decoration: none;
         font-family: Montserrat;
         font-style: normal;
         font-weight: 500;
         font-size: 18px;
         z-index: 99;
         &:hover{
            transform: scale(1.06);
            transition-duration: 0.5s;
         }
      }
   }
}
