.footer{
    margin-top: 60px;
    background-color: black;
    .footer-overlay{
        width: 100%;
        height: 120px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        // @media screen and (max-width: 380px){
        //     grid-template-columns: 1fr;
        // }
        .footer-police{
            // @media screen and (max-width: 380px){
            //     justify-self: center;
            // }
            .police-title{
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                // @media screen and (max-width: 380px){
                //     text-align: center;
                // }
            }
            .police-subtitle{
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
                color: #FFFFFF;
                // @media screen and (max-width: 380px){
                //     text-align: center;
                // }
            }
        }
        .footer__messedgeses{
            justify-self: end;
            margin-right: 15px;
            // @media screen and (max-width: 380px){
            //     justify-self: center;
            // }
            img{
                height: 32px;
                width: 32px;
                margin-left: 16px;
                transition-duration: 0.2s;
            }
            img:hover{
                transform: scale(1.2);
                transition-duration: 0.5s;
            }  
        }
    }    
}