.welcome{
   display: grid;
   .welcome-text{
      .welcome-title{
         text-align: center;
         font-family: Montserrat;
         font-style: normal;
         font-weight: bold;
         font-size: 42px;
         line-height: 51px;
         margin-top: 120px;
         @media screen and (max-width: 460px){
            margin-top: 60px;
            font-size: 32px;
            line-height: 35px;
         }
      }
      .welcome-subtitle{
         text-align: center;
         font-family: Montserrat;
         font-style: normal;
         font-weight: normal;
         font-size: 22px;
         line-height: 130%;
         margin-top: 30px;
         @media screen and (max-width: 460px){
            font-size: 18px;
            line-height: 130%;
         }
      }
   }
   .welcome-persone{
      margin-top: 74px;
      display: grid;
      grid-template-columns: 296px 296px;
      justify-content: space-evenly;
      @media screen and (max-width: 760px){
         grid-template-columns: 296px;
      }
      .persone{
         display: grid;
         grid-template-columns: 1fr;
         @media screen and (max-width: 760px){
            margin-bottom: 50px;
         }
         .persone-photo{
            justify-self: center;
            height: 220px;
            width: 220px;
            overflow: hidden;
            border-radius: 50%;
            img{
               height: 220px;
            }
         }
         .persone-title{
            margin-top: 30px;
            text-align: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 130%;
         }
         .persone-subtitle{
            margin-top: 22px;
            text-align: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 130%;
            color: #8D8D8D;
         }
      }
   }
}
